# **ÖDEV (1.HAFTA)**

1- İki çocuğunun yaşları toplamı 5'tir. 3 yıl sonra babanın yaşı çocukların yaşları toplamının 3 katı olacağına göre babanın bugünkü yaşı kaçtır? 

Denklemi python dilinde kurunuz ve çıktıyı print ediniz.

In [45]:
#1 
# iki cocugun yaslarinin toplami 5 
# 3 sene sonra yaslarin toplami 5 + 3 + 3 
# yani baba + 3  = 3 * (5 + 3 + 3)
# baba = (3 * (5 + 3 + 3)) - 3
baba = (3 * (5 + 3 + 3)) - 3
print(baba)

30

2-_Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir._

Yukarıda yer alan metindeki "veri bilim" kelimelerini bulup yerine "VERİ BİLİM" yazınız.

In [46]:
#2
text = "Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir."
text.replace("veri bilim", "VERI BILIM")

'Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere VERI BILIMci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.'

3- Adını, soyadını, yaşını, yaşadığın şehri ve üniversite ortalamanı aralarında birer boşluk olacak şekilde tek bir print ifade içerisinde yazın.

In [47]:
#3
print("Aslı", "Ece", "Gürbüz", 20 , "Istanbul", 2.84, sep = " ")

Aslı Ece Gürbüz 20 Istanbul 2.84

4- Veri bilimi günümüzün en heyecan verici alanlardan biridir.

"Veri bilimi" ve "alanlardan biridir." kelimelerini cümle içerisinden alınız ve her kelimeyi uzunlukları kadar aşağı doğru çoğaltarak print ediniz.

NOT: "\n" ifadesi alt satıra geçer

In [48]:
#4 
text = "Veri bilimi günümüzün en heyecan verici alanlardan biridir."
new_text = text.split();
newtext = []
newtext.insert(len(newtext), new_text[0])
newtext.insert(len(newtext), new_text[1])
newtext.insert(len(newtext), new_text[6])
newtext.insert(len(newtext), new_text[7])

print(newtext)
for eleman in newtext:
    for i in range(len(eleman)):
        print(eleman)

['Veri', 'bilimi', 'alanlardan', 'biridir.']
Veri
Veri
Veri
Veri
bilimi
bilimi
bilimi
bilimi
bilimi
bilimi
alanlardan
alanlardan
alanlardan
alanlardan
alanlardan
alanlardan
alanlardan
alanlardan
alanlardan
alanlardan
biridir.
biridir.
biridir.
biridir.
biridir.
biridir.
biridir.
biridir.

5- "veri bilimi" ve "VERİ BİLİMİ" kelimelerinden hangisi büyük hangisi küçük harf ile yazılmış kontrol ediniz.  

Not: Hangi fonksiyonu kullanmanız gerektiğini dir() bulabilirsiniz.

In [49]:
#5
text = "veri bilimi"
print(text.islower())


text = "VERI BILIMI"
print(text.isupper())

True
True

6- adınız, soyadınız, yaşınız, yaşadğınız şehir ve universite not ortalamanız ile bir liste oluşturunuz. Oluşturduğunuz listeyi "listem" değişkeni olarak kaydedeiniz.

In [50]:
#6 
listem = ["Aslı", "Ece", "Gürbüz", 20, "Istanbul", 2.84]
print(listem)

['Aslı', 'Ece', 'Gürbüz', 20, 'Istanbul', 2.84]

7- "listem" değişkeni içerisinden yaşınızı, yaşadığınız şehiri ve universite not ortalamanızı seçerek "listem2" değişkenini oluşturunuz.

In [51]:
#7
listem2 = listem[3:]
print(listem2)

[20, 'Istanbul', 2.84]

8- "listem2" değişkeninin her bir elamanının türlerini yazdırınız.

In [52]:
#8
for eleman in listem2:
    print(type(eleman))

<class 'int'>
<class 'str'>
<class 'float'>

9- "listem2" değişkenine aşağıdaki listeyi LİSTE olarak ekleyiniz.

In [53]:
#9
listem2 = listem[3:]
eklenecek_liste = ["Ali", 90, "Mehmet"]
listem2.append(eklenecek_liste)
print(listem2)

[20, 'Istanbul', 2.84, ['Ali', 90, 'Mehmet']]

In [54]:
eklenecek_liste = ["Ali", 90, "Mehmet"]

10- "listem2" değişkeninin içinden "Ali" ve "90" ı seçip Listem3 değişkenine atayınız.

In [55]:
#10
listem3 = listem2[3][0:2]
print(listem3)

['Ali', 90]

11- "listem2" değişkenine Listem3 değişkenini ELEMAN olarak ekleyiniz.

In [56]:
#11
listem2.append(listem3)
print(listem2)

[20, 'Istanbul', 2.84, ['Ali', 90, 'Mehmet'], ['Ali', 90]]

12- "listem2" içerisinden 90 elemanını siliniz.

In [57]:
#12
del listem2[3][1]
del listem2[4][1]

print(listem2)

[20, 'Istanbul', 2.84, ['Ali', 'Mehmet'], ['Ali']]

13- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir liste oluşturunuz. "yeni_liste" değişkenine atayınız.

In [58]:
#13
yeni_liste = []
for i in range(1,11):
    yeni_liste.append(i)
print(yeni_liste)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

14- "yeni_liste" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [59]:
#14
print(yeni_liste.index(7))
print(yeni_liste.index(2))

6
1

15- "listem2" üzerinden tuple oluşturunuz ve "tuple1" adını veriniz

In [60]:
#15
tuple1 = tuple(listem2)
print(tuple1)
type(tuple1)

(20, 'Istanbul', 2.84, ['Ali', 'Mehmet'], ['Ali'])

tuple

16- "tuple1" değişkeni içerisindeki "Ali" yerine "Veli" yazınız.

In [61]:
#16 tuple ici degismez
listee = list(tuple1)

#print(type(listee))
listee[3][0] = "Veli"
listee[4][0] = "Veli"

tuple1 = tuple(listee)
print(tuple1)

(20, 'Istanbul', 2.84, ['Veli', 'Mehmet'], ['Veli'])

17- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir tuple oluşturunuz. "yeni_tuple" değişkenine atayınız. (NOT: methodu siz bulacaksınız)

In [62]:
#17  
yeniliste = []
for i in range(1,11):
    yeniliste.append(i)
yeniliste.sort(reverse=True)
#print(yeniliste)
yeni_tuple=tuple(yeniliste)
print(yeni_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

18- "yeni_tuple" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

In [63]:
#18
print(yeni_tuple.index(7, 0, len(yeni_tuple)))
print(yeni_tuple.index(2, 0, len(yeni_tuple)))

3
8

19- Aşağıda yer alan dictionary'nin içinden REG'in RMSE değerini, LOG'un MSE değerini ve CART'ın SSE değerini ayrı ayrı çekip yeni bir SET oluşturunuz.

In [64]:
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}

In [65]:
#19 
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}
setv = {dictionary["LOG"][0],dictionary["CART"][0]}
print(setv)

{'SSE', 'MSE'}

20- CART değerini ["SSE", 30] olarak değiştiriniz.

In [66]:
#20
dictionary["CART"] = ["SSE", 30]
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30]}

21- Sözlüğe yeni bir "RF" key değeri ekleyerek value'sunu ["SSE", 50] olarak tanımlayınız.

In [67]:
#21
dictionary["RF"] = ["SSE", 50]
print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30], 'RF': ['SSE', 50]}

22- Aşağıda yer alan listeyi SET'e çeviriniz, "set1" adını veriniz ve içindeki eleman sayısını söyleyiniz.

In [68]:
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]

In [69]:
#22
set1 = set(liste1)
print(set1)
print(len(set1))
type(set1)

{'Mehmet', 10, 'Ayşe', 20, 'Ali'}
5

set

23- "set1" kümesinin içinden 5. eleman ile 7. elemanı çekiniz.

In [70]:
#23 hata verdigi icin yoruma aldim
#list(set1)[5]
#list(set1)[7]

24- "set1" kümesinde yer alan "Ali" yerine "Veli" ve 10 yerini "40" değerlerini ekleyiniz.

In [71]:
#24
set1.remove("Ali")
set1.add("Veli")
print(set1)

{'Mehmet', 10, 'Veli', 'Ayşe', 20}

25- **ZOR SORU** aşağıda yer alan kümeler için soruları cevaplayınız. (Küme methodları kullanılabilir.)

In [72]:
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

25.1- set1'de olup set2'de olmayanlar hangileridir? (difference())

In [73]:
#25.1
set1.difference(set2)

{5}

25.2- set2'de olup set1'de olmayanlar hangileridir? (difference())

In [74]:
#25.2
set2.difference(set1)

{2}

25.3- İki kümede de birbirlerine göre olmayanlar hangileridir? (symmetric_difference())

In [75]:
#25.3
set2.symmetric_difference(set1)

{2, 5}

25.4- İki kümenin kesişimi nedir? (intersection())

In [76]:
#25.4
set1.intersection(set2)

{1, 3}

25.5- İki kümenin birleşimi nedir? (union())

In [77]:
#25.5
set1.union(set2)

{1, 2, 3, 5}

25.6- İki kümenin kesişimi boş mudur? (isdisjoint())

In [78]:
#25.6
set1.isdisjoint(set2)

False

25.7- Bir küme diğer kümenin alt kümesi midir? (issubset())

In [79]:
#25.7
set1.issubset(set2)

False

25.8- Bir küme diğer kümeyi kapsıyor mudur? (isdisjoint())

In [80]:
maaslar = [1000,2000,3000,4000,5000]

In [81]:
#25.8
set1.issuperset(set2)

False

26- Maaslara yuzde 20 zam yaparak zamlı_maaslar listesine atayınız. (Function, For kullanarak)

In [82]:
#26
maaslar = [1000,2000,3000,4000,5000]
zamli_maaslar = []
def maas_zam(maaslar):
    for maas in maaslar:
        zamli_maaslar.append(maas * 1.20)
        

maas_zam(maaslar)
print(zamli_maaslar)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

27- zamlı_maaslar listesinden 2500 TL altındakileriden 50 TL vergi; 2500 TL  üzerindekilerden 100 TL vergi kesiniz. (Function, For, If kullanarak)

In [83]:
students = ["John", "Mark", "Venessa", "Mariam"]

In [84]:
#27
vergili_maaslar = []
def vergi(maas):
    if maas < 2500:
        return maas - 50
    else:
        return maas - 50

for maas in zamli_maaslar:
    vergili_maaslar.append(vergi(maas))
print(vergili_maaslar)

[1150.0, 2350.0, 3550.0, 4750.0, 5950.0]

28- Listedeki öğrencileri index numaralarına göre iki gruba tek bir listede return edecek bir fonksiyonla yapınız.

In [85]:
#28
students = ["John", "Mark", "Venessa", "Mariam"]

A = []
B = []
for index, student in enumerate(students):
    if index % 2 == 0:
        A.append(student)
    else:
        B.append(student)
print(A)
print(B)

['John', 'Venessa']
['Mark', 'Mariam']

29- Aşağıdaki şekilde string'i değiştirecek bir fonksiyon yazınız.

    before: "hi my name is john and i am learning python"

    after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [86]:
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

30- Yukarıda yer alan fonksiyonu enumerate kullanarak yeniden yazınız.

In [87]:
#30
def enumerated(string):
    new_string = ""
    for index, letter in enumerate(string):
        if index % 2 == 0:
            new_string += string[index].upper()
        else:
            new_string += string[index].lower()

    print(new_string)

enumerated("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

31-Kullanıcıdan ismini ve yasını alacak bir fonksiyon olusturunuz. 
Fonksiyon çıktısı aşağıdaki şekilde olmalı:

    Merhaba benim ismim X,
    Y yasındayım!

In [89]:
#31
name = input()
age = input()
print("Merhaba benim ismim " + name + ", " + age + " yasındayım!")

Merhaba benim ismim Ece, 20 yasındayım!